/*make a 3x3 grid with squares 
only color in the lines to make tthe board 
1. bottom and right side
2. left, right and bottom
3. bottom and left 
4. top and right and bottom
5. all sides
6. left, top and bottom
7. top, right
8. left, right, top
9. left, top
*/

h1{
	text-align: center;
	color: blue;
}

body{
	background-image: url("https://i.pinimg.com/originals/24/67/e6/2467e6e856f5c54ccc1323b87dde6c05.jpg");
}
table{
	border-collapse: collapse;
	background-color: #f1f1f1;
	margin: 0 auto;
	border-radius: 5px;
}

.cells{
	padding: 100px;
	text-align: center;

}

#topLeft{
	border-left: none;
	border-top: none;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	
	
}

#topMiddle{
	border-bottom: 10px solid white;

}

#topRight{
	border-bottom: 10px solid white;
	border-left: 10px solid white;

}

#middleLeft{
	border-right: 10px solid white;
}

#middle{
	border-right: 10px solid white;

}

#middleRight{
	border-left: 10px solid white;

}

#leftBottom{
	border-top: 10px solid white;
	border-right: 10px solid white;

}

#middleBottom{
border-top: 10px solid white;

}

#rightBottom{
	border-top: 10px solid white;
	border-left: 10px solid white;

}

button{
	margin: 0 auto;
	color
}