/*make a 3x3 grid with squares 
only color in the lines to make tthe board 
1. bottom and right side
2. left, right and bottom
3. bottom and left 
4. top and right and bottom
5. all sides
6. left, top and bottom
7. top, right
8. left, right, top
9. left, top
*/

h1{
	text-align: center;
	color: #3f3f3f;
	font-size: 46px;
	background: white;
	padding: 10px;
	border-radius: 20px;
	font-family: 'Catamaran', sans-serif;
}

body{
	background-image: url("https://i.pinimg.com/originals/24/67/e6/2467e6e856f5c54ccc1323b87dde6c05.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}
table{
	border-collapse: collapse; /*allows the boarder to connect*/
	background-color: #f1f1f1;
	margin: 0 auto;
	border-radius: 5px;
}

.cells{
	padding: 100px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;

}

/*appends cat one image to  the cells and hides them*/
.cat1{
	background-image: url("http://piq.codeus.net/static/media/userpics/piq_6868.png");
}
/*appends cat two image to  the cells and hides them*/
.cat2{
	background-image: url("https://orig00.deviantart.net/57ab/f/2011/157/7/0/poptart_cat_journal_doll_by_yellowfangofstarclan-d3i8v6f.gif");
	margin: 0 auto;
}

img{
	padding: 0px;
	margin: 0px;
	max-width: 50px;
	max-height: 50px;
}

#topLeft{
	border-left: none;
	border-top: none;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	
	
	
}

#topMiddle{
	border-bottom: 10px solid white;

}

#topRight{
	border-bottom: 10px solid white;
	border-left: 10px solid white;

}

#middleLeft{
	border-right: 10px solid white;
}

#middle{
	border-right: 10px solid white;

}

#middleRight{
	border-left: 10px solid white;

}

#bottomLeft{
	border-top: 10px solid white;
	border-right: 10px solid white;

}

#bottomMiddle{
border-top: 10px solid white;

}

#bottomRight{
	border-top: 10px solid white;
	border-left: 10px solid white;

}

.reset{
	margin: 50px;
	float: right;
	background-color: #3f3f3f;
	font-family: 'Catamaran', sans-serif;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 24px;
	color: white;
	border-color: white;
}